{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
<style>
    .login {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.0784313725490196);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.4px);
        -webkit-backdrop-filter: blur(2.4px);
        border: 1px solid rgba(255, 255, 255, 1);
        width: 50%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: 17.5%;
    }
    form {
        display: inline-block;
    }
    h1 {
        padding: 10px 0;
    }
    td {
        padding: 10px 5px;
    }
    .login h6 {
        margin: 0;
    }
    .btn {
        width: 40%;
        border: 2px solid white;
        transition: 0.5s ease-in-out;
    }
    .btn:active, .btn:hover {
        border: 2px solid white;
    }
    .btn:hover {
        transform: scale(1.075);
    }
    a {
        color: rgb(33,37,41);
    }
    a:hover {
        color: white;
    }
</style>
{% endblock meta %}

{% block content %}

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td><h6>Username: </h6></td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td><h6>Password: </h6></td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
            <tr>
                <td colspan="2" ><input class="btn login_btn btn-secondary" type="submit" value="Login" style="text-align: center;"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <p>Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></p>

</div>

{% endblock content %}